In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
data=pd.read_csv('Real estate valuation data set.csv')

In [7]:
print(data.shape)

(414, 8)

In [8]:
data.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [9]:
data=data[data.columns[1:]]
data.head()

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [10]:
[1,2,3,4][-1]

4

In [11]:
X_data=data[data.columns[:-1]]
Y_data=data[data.columns[-1]]

In [12]:
Y_data.head()

0    37.9
1    42.2
2    47.3
3    54.8
4    43.1
Name: Y house price of unit area, dtype: float64

In [13]:
# Split Dataset into train and test dataset using sklearn
from sklearn.model_selection import train_test_split
X_data_train,X_data_test,Y_data_train,Y_data_test = train_test_split(X_data, Y_data, test_size=0.2, random_state=99)
len(X_data_train) , len(X_data_test) , len(Y_data_train) , len(Y_data_test)

(331, 83, 331, 83)

In [14]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(X_data_train,Y_data_train)
print('coefficients:',model.coef_)
print('intercept term',model.intercept_)

coefficients: [ 4.71448185e+00 -2.72419638e-01 -4.43780412e-03  1.22757058e+00
  2.15878554e+02 -1.00484832e+01]
intercept term -13617.421193575885

In [15]:
Y_pred=model.predict(X_data_test)

In [16]:

from sklearn.metrics import mean_squared_error,r2_score

In [17]:
ratio=[0.4,0.3,0.1]
for i in ratio: 
  print('\n************************************************************\n')
  print('When train and test split:',100*(1-i),':',100*i)
  X_data_train,X_data_test,Y_data_train,Y_data_test = train_test_split(X_data, Y_data, test_size=i, random_state=99)
  len(X_data_train) , len(X_data_test) , len(Y_data_train) , len(Y_data_test)
  model=LinearRegression()
  model.fit(X_data_train,Y_data_train)
  print('coefficients:',model.coef_)
  print('intercept term',model.intercept_)
  Y_pred=model.predict(X_data_test)
  print('mean squared error in test data set is:',mean_squared_error(Y_data_test, Y_pred))
  print('R square is :',r2_score(Y_data_test,Y_pred))

************************************************************

When train and test split: 60.0 : 40.0
coefficients: [ 4.66334827e+00 -2.54370046e-01 -4.39514457e-03  1.22076295e+00
  2.15221967e+02 -1.63411731e+01]
intercept term -12733.688379984442
mean squared error in test data set is: 69.837639294565
R square is : 0.598830785117227

************************************************************

When train and test split: 70.0 : 30.0
coefficients: [ 3.85975665e+00 -2.67186635e-01 -4.40636056e-03  1.12654283e+00
  2.09430975e+02 -8.81397297e+00]
intercept term -11885.585825986627
mean squared error in test data set is: 70.44043516850694
R square is : 0.6320355826262289

************************************************************

When train and test split: 90.0 : 10.0
coefficients: [ 5.17380255e+00 -2.71759703e-01 -4.60494972e-03  1.17456124e+00
  2.15137145e+02 -2.16118937e+01]
intercept term -13117.789980548627
mean squared error in test data set is: 99.75446973885595
R square is : 0.515459090279079

In [18]:
print('mean squared error in test data set is:',mean_squared_error(Y_data_test, Y_pred))
print('R square is :',r2_score(Y_data_test,Y_pred))

mean squared error in test data set is: 99.75446973885595
R square is : 0.515459090279079

In [19]:
lambdas=[0.001,0.005,0.01,0.05,0.1,0.5]

In [22]:
from sklearn.linear_model import Ridge,Lasso

for i in [0.2]+ratio: 
  print('\n************************************************************\n')
  print('When train and test split:',100*(1-i),':',100*i)
  X_data_train,X_data_test,Y_data_train,Y_data_test = train_test_split(X_data, Y_data, test_size=i, random_state=99)
  len(X_data_train) , len(X_data_test) , len(Y_data_train) , len(Y_data_test)
  for lembda in lambdas:
    print('___________________________________________')
    print('when lambda is :',lembda)
    print('Using Ridge Regression:\n')
    model=Ridge(alpha=lembda)
    model.fit(X_data_train,Y_data_train)
    print('coefficients:',model.coef_)
    print('intercept term:',model.intercept_)
    Y_pred=model.predict(X_data_test)
    print('mean squared error in test data set is:',mean_squared_error(Y_data_test, Y_pred))
    print('R square is :',r2_score(Y_data_test,Y_pred))
    print('\n Using Lasso Regression')
    model=Lasso(alpha=lembda)
    model.fit(X_data_train,Y_data_train)
    print('coefficients:',model.coef_)
    print('intercept term:',model.intercept_)
    Y_pred=model.predict(X_data_test)
    print('mean squared error in test data set is:',mean_squared_error(Y_data_test, Y_pred))
    print('R square is :',r2_score(Y_data_test,Y_pred))

************************************************************

When train and test split: 80.0 : 20.0
___________________________________________
when lambda is : 0.001
Using Ridge Regression:

coefficients: [ 4.72559468e+00 -2.72099325e-01 -4.47067283e-03  1.23116250e+00
  2.09568801e+02 -1.03381686e+01]
intercept term: -13447.020404534465
mean squared error in test data set is: 75.47017992331655
R square is : 0.6090690889152186

 Using Lasso Regression
coefficients: [ 4.72323027e+00 -2.71558200e-01 -4.38014260e-03  1.23498458e+00
  2.06865575e+02 -0.00000000e+00]
intercept term: -14631.316035915439
mean squared error in test data set is: 75.53851258983438
R square is : 0.6087151298865556
___________________________________________
when lambda is : 0.005
Using Ridge Regression:

coefficients: [ 4.76425446e+00 -2.70975441e-01 -4.58170522e-03  1.24370879e+00
  1.87656375e+02 -1.10325705e+01]
intercept term: -12893.265520516476
mean squared error in test data set is: 75.74652598990271
R square is : 0.6076376332105284

 Using Lasso Regression
coefficients: [ 4.74206953e+00 -2.69398630e-01 -4.56763158e-03  1.25735416e+00
  1.67255913e+02 -0.00000000e+00]
intercept term: -13680.138505832647
mean squared error in test data set is: 76.14979221994243
R square is : 0.6055487388302667
___________________________________________
when lambda is : 0.01
Using Ridge Regression:

coefficients: [ 4.80251257e+00 -2.69847527e-01 -4.68687441e-03  1.25621690e+00
  1.65996399e+02 -1.12603546e+01]
intercept term: -12401.721333131747
mean squared error in test data set is: 76.09944702626105
R square is : 0.6058095238509809

 Using Lasso Regression
coefficients: [ 4.76562578e+00 -2.66699176e-01 -4.80199219e-03  1.28531812e+00
  1.17743674e+02 -0.00000000e+00]
intercept term: -12491.17696173012
mean squared error in test data set is: 77.28793346090008
R square is : 0.5996532368886678
___________________________________________
when lambda is : 0.05
Using Ridge Regression:

coefficients: [ 4.94063185e+00 -2.65569771e-01 -5.03736729e-03  1.30298883e+00
  8.64334468e+01 -8.52089084e+00]
intercept term: -11025.957181890251
mean squared error in test data set is: 78.09349301968624
R square is : 0.5954804876972744

 Using Lasso Regression
coefficients: [ 4.44837014 -0.25969421 -0.00535429  1.34757366  0.         -0.        ]
intercept term: -8912.285860721271
mean squared error in test data set is: 81.85576098342665
R square is : 0.5759921700027286
___________________________________________
when lambda is : 0.1
Using Ridge Regression:

coefficients: [ 4.99073074e+00 -2.63771649e-01 -5.16515586e-03  1.32233558e+00
  5.40849468e+01 -5.95234738e+00]
intercept term: -10631.225738513702
mean squared error in test data set is: 79.22787235736371
R square is : 0.5896044721843314

 Using Lasso Regression
coefficients: [ 3.78424301 -0.25865523 -0.0053452   1.34005869  0.         -0.        ]
intercept term: -7575.301953935337
mean squared error in test data set is: 82.26691065427136
R square is : 0.5738624398817875
___________________________________________
when lambda is : 0.5
Using Ridge Regression:

coefficients: [ 4.98666767e+00 -2.61425076e-01 -5.31283911e-03  1.34674099e+00
  1.35533556e+01 -1.67705966e+00]
intercept term: -10130.566475366964
mean squared error in test data set is: 80.9504506555654
R square is : 0.5806816220703515

 Using Lasso Regression
coefficients: [ 0.         -0.2514243  -0.00532315  1.27608641  0.         -0.        ]
intercept term: 43.02124849827504
mean squared error in test data set is: 86.23963995371524
R square is : 0.5532839453545075

************************************************************

When train and test split: 60.0 : 40.0
___________________________________________
when lambda is : 0.001
Using Ridge Regression:

coefficients: [ 4.69010754e+00 -2.54120895e-01 -4.42746964e-03  1.22643691e+00
  2.07540153e+02 -1.61291645e+01]
intercept term: -12621.504567474212
mean squared error in test data set is: 69.87887820494745
R square is : 0.5985938959344328

 Using Lasso Regression
coefficients: [ 4.70513103e+00 -2.53605124e-01 -4.32195213e-03  1.23147080e+00
  2.06669250e+02 -5.50004582e+00]
intercept term: -13921.936840016657
mean squared error in test data set is: 69.88563909619018
R square is : 0.5985550592632747
___________________________________________
when lambda is : 0.005
Using Ridge Regression:

coefficients: [ 4.78077995e+00 -2.53269448e-01 -4.53400491e-03  1.24568495e+00
  1.81623328e+02 -1.51692121e+01]
intercept term: -12273.549644986599
mean squared error in test data set is: 70.09031506175278
R square is : 0.5973793365836492

 Using Lasso Regression
coefficients: [ 4.79162729e+00 -2.52118945e-01 -4.42879902e-03  1.25936946e+00
  1.70351106e+02 -0.00000000e+00]
intercept term: -13857.674865745135
mean squared error in test data set is: 70.25341344213552
R square is : 0.5964424485406439
___________________________________________
when lambda is : 0.01
Using Ridge Regression:

coefficients: [ 4.86693891e+00 -2.52449659e-01 -4.63140068e-03  1.26402648e+00
  1.57114485e+02 -1.39364161e+01]
intercept term: -11984.830563051526
mean squared error in test data set is: 70.39376638851553
R square is : 0.5956362173754084

 Using Lasso Regression
coefficients: [ 4.88510748e+00 -2.50546920e-01 -4.63491880e-03  1.29153124e+00
  1.24570773e+02 -0.00000000e+00]
intercept term: -12902.67803621899
mean squared error in test data set is: 71.01485700378022
R square is : 0.5920684788748862
___________________________________________
when lambda is : 0.05
Using Ridge Regression:

coefficients: [ 5.15151311e+00 -2.49627711e-01 -4.93502329e-03  1.32584570e+00
  7.55965836e+01 -7.86945940e+00]
intercept term: -11259.550106616653
mean squared error in test data set is: 72.1398309497429
R square is : 0.585606277127747

 Using Lasso Regression
coefficients: [ 4.79895869 -0.24550767 -0.00519819  1.37315652  0.         -0.        ]
intercept term: -9618.565228789908
mean squared error in test data set is: 74.86216266701506
R square is : 0.5699683533849045
___________________________________________
when lambda is : 0.1
Using Ridge Regression:

coefficients: [ 5.24689810e+00 -2.48555170e-01 -5.03895755e-03  1.34861012e+00
  4.58694159e+01 -5.00669241e+00]
intercept term: -11057.21524081556
mean squared error in test data set is: 73.06358043131118
R square is : 0.5802999715593977

 Using Lasso Regression
coefficients: [ 4.15390584 -0.24406507 -0.00520274  1.36200702  0.         -0.        ]
intercept term: -8319.958417276215
mean squared error in test data set is: 75.00873743417678
R square is : 0.5691263821376251
___________________________________________
when lambda is : 0.5
Using Ridge Regression:

coefficients: [ 5.26629155e+00 -2.47139355e-01 -5.15589152e-03  1.37482595e+00
  1.10773522e+01 -1.27738639e+00]
intercept term: -10680.749074138464
mean squared error in test data set is: 74.35174283693705
R square is : 0.5729003643257287

 Using Lasso Regression
coefficients: [ 0.         -0.23401553 -0.00525253  1.27554672  0.         -0.        ]
intercept term: 42.66606567183925
mean squared error in test data set is: 77.6841244751683
R square is : 0.5537581232791726

************************************************************

When train and test split: 70.0 : 30.0
___________________________________________
when lambda is : 0.001
Using Ridge Regression:

coefficients: [ 3.87021857e+00 -2.66878404e-01 -4.44029538e-03  1.13056985e+00
  2.02720329e+02 -9.01621820e+00]
intercept term: -11714.493019082189
mean squared error in test data set is: 70.52098434547138
R square is : 0.6316148124975272

 Using Lasso Regression
coefficients: [ 3.87835561e+00 -2.66602822e-01 -4.36103885e-03  1.13378648e+00
  2.00507428e+02 -0.00000000e+00]
intercept term: -12771.490728488448
mean squared error in test data set is: 70.57583764782113
R square is : 0.6313282716294608
___________________________________________
when lambda is : 0.005
Using Ridge Regression:

coefficients: [ 3.90655976e+00 -2.65816497e-01 -4.55372841e-03  1.14444655e+00
  1.79707154e+02 -9.41439952e+00]
intercept term: -11164.591586700268
mean squared error in test data set is: 70.85173134589846
R square is : 0.6298870672469601

 Using Lasso Regression
coefficients: [ 3.88841381e+00 -2.64718300e-01 -4.54202764e-03  1.15623939e+00
  1.62402292e+02 -0.00000000e+00]
intercept term: -11840.211396628369
mean squared error in test data set is: 71.23645211474587
R square is : 0.6278773756086009
___________________________________________
when lambda is : 0.01
Using Ridge Regression:

coefficients: [ 3.94237341e+00 -2.64780139e-01 -4.65960520e-03  1.15799208e+00
  1.57396606e+02 -9.38952060e+00]
intercept term: -10682.594345152374
mean squared error in test data set is: 71.2537682940233
R square is : 0.6277869199235427

 Using Lasso Regression
coefficients: [ 3.90098659e+00 -2.62362648e-01 -4.76826363e-03  1.18430554e+00
  1.14770872e+02 -0.00000000e+00]
intercept term: -10676.112269218238
mean squared error in test data set is: 72.39211574997783
R square is : 0.6218404581023288
___________________________________________
when lambda is : 0.05
Using Ridge Regression:

coefficients: [ 4.06926766e+00 -2.61089621e-01 -5.00363788e-03  1.20618454e+00
  7.90409438e+01 -6.51588451e+00]
intercept term: -9330.69875678878
mean squared error in test data set is: 73.31623400309591
R square is : 0.6170130797112156

 Using Lasso Regression
coefficients: [ 3.56395077 -0.25586496 -0.00531137  1.24719196  0.         -0.        ]
intercept term: -7131.651218812387
mean squared error in test data set is: 77.02212271330019
R square is : 0.597654380736113
___________________________________________
when lambda is : 0.1
Using Ridge Regression:

coefficients: [ 4.11371524e+00 -2.59636736e-01 -5.12654919e-03  1.22503132e+00
  4.87401413e+01 -4.40011646e+00]
intercept term: -8920.694560315009
mean squared error in test data set is: 74.39490855878213
R square is : 0.6113783352144007

 Using Lasso Regression
coefficients: [ 2.90687074 -0.25439551 -0.00530774  1.23871511  0.         -0.        ]
intercept term: -5808.850734546415
mean squared error in test data set is: 77.69106178286243
R square is : 0.5941599989311
___________________________________________
when lambda is : 0.5
Using Ridge Regression:

coefficients: [ 4.10568586e+00 -2.57771003e-01 -5.26795962e-03  1.24786239e+00
  1.19920363e+01 -1.19356700e+00]
intercept term: -8376.631809962637
mean squared error in test data set is: 75.96710323991198
R square is : 0.603165556595754

 Using Lasso Regression
coefficients: [ 0.         -0.24582605 -0.00534043  1.16711086  0.         -0.        ]
intercept term: 43.27143724688675
mean squared error in test data set is: 81.67049904553609
R square is : 0.573372346067623

************************************************************

When train and test split: 90.0 : 10.0
___________________________________________
when lambda is : 0.001
Using Ridge Regression:

coefficients: [ 5.18622549e+00 -2.71426272e-01 -4.63352568e-03  1.17775644e+00
  2.09414472e+02 -2.16517465e+01]
intercept term: -12995.053692571384
mean squared error in test data set is: 99.8599969537033
R square is : 0.5149465092106185

 Using Lasso Regression
coefficients: [ 5.17861062e+00 -2.70867440e-01 -4.54175315e-03  1.18239203e+00
  2.06163349e+02 -1.10303140e+01]
intercept term: -14189.532532256477
mean squared error in test data set is: 99.79627522634466
R square is : 0.5152560270079078
___________________________________________
when lambda is : 0.005
Using Ridge Regression:

coefficients: [ 5.22972092e+00 -2.70244495e-01 -4.73084228e-03  1.18906936e+00
  1.89305025e+02 -2.14864529e+01]
intercept term: -12600.551829603524
mean squared error in test data set is: 100.27077091153976
R square is : 0.5129512423544987

 Using Lasso Regression
coefficients: [ 5.21206154e+00 -2.68125970e-01 -4.62329423e-03  1.20692166e+00
  1.66845699e+02 -0.00000000e+00]
intercept term: -14615.758886243064
mean squared error in test data set is: 100.58981433663064
R square is : 0.5114015414554943
___________________________________________
when lambda is : 0.01
Using Ridge Regression:

coefficients: [ 5.27322897e+00 -2.69039184e-01 -4.82411150e-03  1.20058929e+00
  1.69057398e+02 -2.08554668e+01]
intercept term: -12259.227941955185
mean squared error in test data set is: 100.74798335159015
R square is : 0.5106332615117608

 Using Lasso Regression
coefficients: [ 5.26014202e+00 -2.65063719e-01 -4.87251764e-03  1.23459066e+00
  1.16190726e+02 -0.00000000e+00]
intercept term: -13447.639927747325
mean squared error in test data set is: 102.15372191792801
R square is : 0.5038051179153258
___________________________________________
when lambda is : 0.05
Using Ridge Regression:

coefficients: [ 5.43549552e+00 -2.64276051e-01 -5.14198397e-03  1.24593961e+00
  9.12900443e+01 -1.44608571e+01]
intercept term: -11421.196391616231
mean squared error in test data set is: 103.19309621736295
R square is : 0.4987565284144527

 Using Lasso Regression
coefficients: [ 5.00885487 -0.25746465 -0.00544328  1.29397504  0.         -0.        ]
intercept term: -10040.343586639146
mean squared error in test data set is: 107.46404237897026
R square is : 0.4780111107511458
___________________________________________
when lambda is : 0.1
Using Ridge Regression:

coefficients: [ 5.49826203e+00 -2.62175593e-01 -5.26022159e-03  1.26582660e+00
  5.80157032e+01 -9.98425037e+00]
intercept term: -11260.771269166875
mean squared error in test data set is: 104.54663340278115
R square is : 0.4921819444295893

 Using Lasso Regression
coefficients: [ 4.37520934 -0.25645701 -0.00544169  1.28682167  0.         -0.        ]
intercept term: -8764.714292966573
mean squared error in test data set is: 107.6402466270579
R square is : 0.47715522763243856
___________________________________________
when lambda is : 0.5
Using Ridge Regression:

coefficients: [ 5.51637660e+00 -2.59351307e-01 -5.39857093e-03  1.29199926e+00
  1.48336063e+01 -2.79846827e+00]
intercept term: -11092.339425148852
mean squared error in test data set is: 106.59802637340665
R square is : 0.4822176408872607

 Using Lasso Regression
coefficients: [ 0.         -0.24894233 -0.00544377  1.22774334  0.         -0.        ]
intercept term: 43.321860342545335
mean squared error in test data set is: 110.77169781410805
R square is : 0.4619447191620706

$\large \textbf{Logistic Regression}$

In [23]:
data=pd.read_csv('haberman.csv')

In [24]:
data.head()

    A   B  C  D
0  30  64  1  1
1  30  62  3  1
2  30  65  0  1
3  31  59  2  1
4  31  65  4  1

In [25]:
data.columns=['age','year','Number of positive axillary nodes','Survival status']

In [26]:
data

     age  year  Number of positive axillary nodes  Survival status
0     30    64                                  1                1
1     30    62                                  3                1
2     30    65                                  0                1
3     31    59                                  2                1
4     31    65                                  4                1
..   ...   ...                                ...              ...
301   75    62                                  1                1
302   76    67                                  0                1
303   77    65                                  3                1
304   78    65                                  1                2
305   83    58                                  2                2

[306 rows x 4 columns]

In [27]:
X_data=data[data.columns[:-1]]
Y_data=data[data.columns[-1]]

In [28]:
X_data_train,X_data_test,Y_data_train,Y_data_test = train_test_split(X_data, Y_data, test_size=0.2, random_state=99)
len(X_data_train) , len(X_data_test) , len(Y_data_train) , len(Y_data_test)

(244, 62, 244, 62)

In [29]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(X_data_train,Y_data_train)
print('coefficients:',model.coef_)
print('intercept term:',model.intercept_)
Y_pred=model.predict(X_data_test)

coefficients: [[0.02315163 0.00666258 0.08593513]]
intercept term: [-3.05596073]

In [30]:
y_pred=model.predict(X_data_test)
print(y_pred)

[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1
 2 1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 2 1 1 1 1]

In [31]:
# error 
def error_term(test_data,pred):
  m=len(test_data)
  x=0
  for i in range(m):
    if list(test_data)[i]!=list(pred)[i]:
      x=x+1
  return x/m

In [32]:
len(y_pred)

62

In [33]:
error=error_term(Y_data_test,y_pred)
print('Eroor is :',error)

Eroor is : 0.24193548387096775

In [34]:
ratio=[0.4,0.3,0.1]
for i in ratio: 
  print('\n************************************************************\n')
  print('When train and test split:',100*(1-i),':',100*i)
  X_data_train,X_data_test,Y_data_train,Y_data_test = train_test_split(X_data, Y_data, test_size=i, random_state=99)
  len(X_data_train) , len(X_data_test) , len(Y_data_train) , len(Y_data_test)
  model=LogisticRegression()
  model.fit(X_data_train,Y_data_train)
  print('coefficients:',model.coef_)
  print('intercept term:',model.intercept_)
  Y_pred=model.predict(X_data_test)
  error=error_term(Y_data_test,Y_pred)
  print('Eroor is :',error)

************************************************************

When train and test split: 60.0 : 40.0
coefficients: [[0.01724386 0.01312177 0.11918493]]
intercept term: [-3.39310521]
Eroor is : 0.2845528455284553

************************************************************

When train and test split: 70.0 : 30.0
coefficients: [[ 0.02769964 -0.01442418  0.10236008]]
intercept term: [-2.12048279]
Eroor is : 0.2826086956521739

************************************************************

When train and test split: 90.0 : 10.0
coefficients: [[0.02013495 0.01883983 0.09093186]]
intercept term: [-3.67555302]
Eroor is : 0.25806451612903225