In [1]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from sklearn.datasets import load_iris
iris=load_iris()

In [4]:
data=iris.data
print('data set :',data.shape)

data set : (150, 4)

In [36]:
#data

In [6]:
# target data point
y=iris.target 
y.shape

(150,)

In [7]:
# number of data points
n=data.shape[0]
d=data.shape[1]
print('number of data points:',n)
print('dimension of data points:',d)

number of data points: 150
dimension of data points: 4

 $\large \text{Q1 }$Check the number of classes C and the class label values in iris data. Check if the class labels are from the
set {0, 1, . . . , C − 1} or if they are from the set {1, 2, . . . , C}.
(b) When loading the labels into y do the following:
- If the class labels are from the set {0, 1, . . . , C − 1} convert classes 0, 2, 3, . . . , C − 1 to -1.
- If the class labels are from the set {1, 2, . . . , C} convert classes 2, 3, . . . , C to -1 .
Thus, you will have class labels eventually belonging to the set {+1, −1}

In [38]:
print(np.unique(y))

[0 1 2]

$\text{Here we can see that class labels are of the form {0,1,2} so we convert it as of the form {-1,1} where 0 and 2 is replaced by -1}$

In [10]:
label=[]
for i in y:
  if i!=1:
    label.append(-1)
  else:
    label.append(1)

In [18]:
import pandas as pd
data=pd.DataFrame(data,columns=[1,2,3,4])

data.head()

     1    2    3    4
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

$\text{ Note that a shuffled index array indexarr is used in the code. Use this index array to partition the data and labels
into train and test splits.} \\ \text{ In particular, use the first 80% of the indices to create the training data and labels. Use
the remaining 20% to create the test data and labels.} \\ \text{ Store them in the variables train data , train label, test data,
test label.
}$

In [19]:
# creating an index array
indexarr=np.arange(n)
np.random.shuffle(indexarr)

In [20]:
print(indexarr)

[ 85 106  89 136 147 123  99  18 107  42  20  45  67  35  32  19 149 140
  70 111  63 138  26   7  87  98   1  79 127  36  88 135  91  94  13  24
  39 125  78  41  60 132 145  83  44  97  74   0 143   8  92 108 139 105
 131 101  75  64  15  11  23 103 141  66  12  34  10  95 115  93 113  96
  43  14 114  49 124  86 109  48  71  84  27  59  57  17   3  54 137 133
  90  25  62  29  69  38  21 116  37  56 120 117  72  77 121 110 144  33
   6 130 148   5  68   9 122 100 134 126 119  31  53  82  52 142  55  16
  65  73  40 118   2 102  30 128 104 129  76  51   4  61  47  58 146  22
  80  81  46  28 112  50]

In [31]:
# train data
train_data=data.iloc[indexarr[:120]]

In [34]:
# train label
train_label=label[:120]

In [33]:
# test data
test_data=data.iloc[indexarr[120:]]

In [35]:
# test label
test_label=data.iloc[indexarr[120:]]

$\large \text{Write a python function which implements the prediction rule in eqn. (2). Use the following code template.}$

In [39]:
def pred_rule(w,x):
  if np.dot(w,x)>=0:
    return +1
  else:
    return -1

$\text{ Write a python function which takes as input the model parameter w, data features and labels and returns the
accuracy on the data. (Use the predict function).}$

In [40]:
def accuracy(w,data,label):
  correct_pred=0
  for i in len(data):
    x=data.iloc[i]
    pred=pred_rule(w,x)
    if pred==label[i]:
      correct_pred+=1
  return correct_pred/len(label)